.logotipo{
    width: 40%;
    position: absolute;
}

body{
    background-color:white
}

.logo{
    text-align: center;
}

/* botão do dropdown */
.dropbtn {
    
    background-image: url("icone_menu.png");
    background-size: 50px;
    background-color: rgba(255, 255, 255, 0.966);
    color: rgba(255, 255, 255, 0.966);
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    width: 200px;
    height: 30px;
    background-repeat: no-repeat;
    
  }
  
  /* imagem de fundo do dropdown */
  .dropbtn:hover, .dropbtn:focus {
    background-color: rgba(255, 255, 255, 0.966);
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Conteúdo */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color:rgba(255, 255, 255, 0.966);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links dentro do dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: rgba(255, 255, 255, 0.966);}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}

footer{
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center; 
    background-color: white;
    padding: 15px;
}

