body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.container {
    max-width: 960px;
    margin: 20px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

header {
    background-color:  rgba(194, 183, 175, 0.966);
    color: #fff;
    padding-top: 20px;
    text-align: center;
}

.logo img {
    width: 200px; 
}

.caixa{
    position: relative;
    width: 1480px;
    margin: 0 auto;
}

.menu{
    width: 50px;
    position: relative;
    right: 930px;
}

nav{
    position: absolute;
    margin-top: 20px;
    top: 10px;
    right: 0px;
    width: 20%;
}

nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 15px;
}

.produto {
    width: 250px;
    margin: 20px;
    padding: 15px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: all 0.3s ease; /* Adiciona uma transição suave para todas as propriedades */
}

.produto img {
    width: 200px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 10px;
    transition: all 0.3s ease; /* Adiciona uma transição suave para todas as propriedades */
}

.preco {
    font-weight: bold;
    color:  rgba(194, 183, 175, 0.966);
}

/* Efeito ao passar o mouse */
.produto:hover {
    transform: scale(1.1); /* Aumenta o tamanho em 10% */
    background-color: #f4f4f4; /* Muda a cor de fundo */
}

.produto:hover img {
    transform: scale(1.2); /* Aumenta o tamanho da imagem em 20% */
}

/* Efeito ao clicar */
.produto:active {
    transform: scale(1.2); /* Aumenta o tamanho em 20% quando clicado */
    background-color: #e44d26; /* Muda a cor de fundo quando clicado */
    color: #fff; /* Muda a cor do texto quando clicado */
}

.produto:active img {
    transform: scale(1.3); /* Aumenta o tamanho da imagem em 30% quando clicado */
}

/* botão do dropdown */
.dropbtn {
    
    background-image: url("icone_menu.png");
    background-size: 50px;
    background-color:  rgba(194, 183, 175, 0.966);
    color:  rgba(194, 183, 175, 0.966);
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    width: 200px;
    height: 30px;
    background-repeat: no-repeat;
    
  }
  
  /* imagem de fundo do dropdown */
  .dropbtn:hover, .dropbtn:focus {
    background-color:  rgba(194, 183, 175, 0.966);
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: absolute;
    left: 0;
    display: inline-block;
  }
  
  /* Dropdown Conteúdo */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: rgba(194, 183, 175, 0.966);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links dentro do dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color:  rgba(194, 183, 175, 0.966);}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}